*{margin: 0; padding: 0%;}

header{
    background-image: url(https://image.freepik.com/fotos-gratis/fundo-aquarela-pintado-a-mao-com-forma-de-ceu-e-nuvens_24972-1108.jpg);
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 1;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#carrinho{
    height: 40px;
    position: absolute;
    right: 10px;
    top: 40px;
}

#menudown{
    position: absolute;
    top: 40%;
    transform: rotate(0deg);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

main{
    position: absolute;
    top: 125px;
    text-align: center;
}

ul{
    text-align: center;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
}

input[type = "checkbox"]{
    display: none;
}

nav{
    position: absolute;
    top: -300px;
    width: 100%;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

ul{
    background-color: #A3E0EB;
    width: 100%;
    border-radius: 5px;
}

input[type = "checkbox"]:checked~nav{
    transform: translateY(420px);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

input[type = "checkbox"]:checked~#menudown{
    transform: rotate(180deg);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#logo{
    position: relative;
    top: 10px;
}

hr{
    border-color: black;
}

main img{
    border-radius: 50%;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #A3E0EB;
}